@font-face {
  font-family: Freight Sans Bold;
  src: url(../assets/FreightSansBold.ttf);
}

body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

#relative {
  position: relative;

  * {
    position: absolute;
  }

  svg {
    text {
      fill: rgba(250, 0, 0, 1);

      &::selection {
        color: none;
        background: rgba(250, 250, 0, 0.5);
      }
    }

    rect {
      fill: rgba(250, 250, 0, 0.5);
    }
  }
}